### Exercici 1
Creamos la lista *trimestres* que agrupa los meses del año en trimestres:

In [208]:
trimestres=[] 

trim1=['gener','febrer','març']
trim2=['abril','maig','juny']
trim3=['juliol','agost','setembre']
trim4=['octubre','novembre','desembre']

trimestres.append(trim1)
trimestres.append(trim2)
trimestres.append(trim3)
trimestres.append(trim4)

print('trimestres:',trimestres)

trimestres: [['gener', 'febrer', 'març'], ['abril', 'maig', 'juny'], ['juliol', 'agost', 'setembre'], ['octubre', 'novembre', 'desembre']]

### Exercici 2
Creamos un código que nos permita acceder al segundo mes del primer trimestre:

In [209]:
print(trimestres[0][1])

febrer

Creamos un código que nos permita acceder a los meses del primer trimestre:

In [210]:
print(trimestres[0])

['gener', 'febrer', 'març']

Creamos un código que nos permita acceder a septiembre y octubre:

In [211]:
print(trimestres[2][2],trimestres[3][0])

setembre octubre

### Exercici 3
Creamos una lista con números desordenados:

In [244]:
import random

list=(random.sample(range(20),10))

print('list=',list,'\n')

list= [10, 8, 9, 6, 3, 4, 19, 18, 7, 1]

Extraemos la cantidad de números de la lista:

In [245]:
print('hay',len(list),'números')

hay 10 números

Extraemos la cantidad de veces que aparece el número 3:

In [246]:
print('el número 3 aparece',list.count(3),'veces')

el número 3 aparece 1 veces

Extraemos la cantidad de veces que aparecen los números 3 y 4:

In [247]:
print('el número 3 aparece',list.count(3),'veces i el número 4 aparece',list.count(4),'veces')

el número 3 aparece 1 veces i el número 4 aparece 1 veces

Extraemos el número más grande:

In [248]:
list.sort()
print('el número más grande es', list[-1])

el número más grande es 19

Extraemos los 3 números más pequeños:

In [249]:
print('los 3 números más pequeños son', list[:3])

los 3 números más pequeños son [1, 3, 4]

Extraemos el rango de la lista:

In [250]:
print('el rango de la lista es', list[-1]-list[0])

el rango de la lista es 18

## Exercici 4
Creamos el diccionario:

In [229]:
compra={'Pomes':{'Qty':5,'€':0.42},'Peres':{'Qty':3,'€':0.66}}
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}}

Añadimos una fruta:

In [230]:
Taronjes={'Qty':7,'€':2.37}
compra['Taronjes']=Taronjes
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Taronjes': {'Qty': 7, '€': 2.37}}

Calculamos el precio total de las peras:

In [232]:
Peres=compra['Peres']
print('les peras en total han costado',Peres['Qty']*Peres['€'],'€')

les peras en total han costado 1.98 €

Calculamos cuantas frutas hemos comprado en total:

In [251]:
list=[]

for valor in compra.values():
    x=valor['Qty']
    list.append(x)
print(list)

cantidad_frutas=sum(list)  
print('la cantidad total de frutas es:',cantidad_frutas)

[5, 3, 7]
la cantidad total de frutas es: 15

Buscamos cual es la fruta más cara:

In [252]:
list1=[]
for valores in compra.values():
    y=valores['€']
    list1.append(y)
print(list1)

list2=[]
for i in compra:
    list2.append(i)
print(list2)

diccionario=dict(zip(list2,list1))
print(diccionario)

print('la fruita més cara es:',max(diccionario,key=diccionario.get))

[0.42, 0.66, 2.37]
['Pomes', 'Peres', 'Taronjes']
{'Pomes': 0.42, 'Peres': 0.66, 'Taronjes': 2.37}
la fruita més cara es: Taronjes